img {
    width: 40%;
}

@media screen and (max-width:425px) {
    img {
        width: 100%;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
    img {
        width: 45%;
    }
}